<%layout("/layouts/boilerplate")-%>
<body>
    <h2>Add new listing</h2>
    <form action="/listings" method="post">
        <input type="text" name="Listings[title]" placeholder="Enter Title">
        <br><br>
        <textarea name="Listings[description]" placeholder="Enter description"></textarea>
        <br><br>
        <input type="text" name="Listings[price]" placeholder="Enter price">
        <br><br>
        <input type="text" name="Listings[location]" placeholder="Enter location">
        <br><br>
        <input type="text" name="Listings[country]" placeholder="Enter country">
        <br><br>
        <button>Add</button>
    </form>
</body>